.boards-container {
	position: relative;
	width: 100%;
	min-height: 300px;
	height: 100%;
}
#playBoard {
	position: absolute;
	top: 0;
	left: 20%;
	max-width: 35%;
	max-height: 100%;
	min-width: 10%;
	min-height: 50%;
}
#winBoard {
	position: absolute;
	top: 10%;
	left: 58.5%;
	max-width: 18%;
	max-height: 50%;
	min-width: 5%;
	min-height: 25%;
}
.game-buttons-container {
	position: absolute;
    margin: auto;
	top: 35%;
	right: 2.5%;
}
.btn-menu {
	border-radius: 4px;
	width: 4em;
	border: solid 1px #236a3f;
	color: black;
	background-color: #e7e7e7;
	transition-duration: 0.4s;
}
.btn-menu:hover {
	background-color: #947a7a; /* Green */
	color: rgb(255, 255, 255);
}
.save {
	position: absolute;
    width: 6em;
    height: 3em;
    left: 1em;
    top: 2em;
    color: black;
    background-color: #a2ff73;
    transition-duration: 0.4s;
}
.redo .undo{
	position: absolute;
    top: 1em;
}
.undo:disabled {
    background-color: #969696;
}
.redo:disabled {
    background-color: #969696;
}