.boards-container {
	/* position: absolute; */
	/* width: 100%; */
	min-height: 300px;
	/* height: 100%; */
    /* max-height: max-content; */
    outline: dashed 1px black;
    display: flex;
    justify-content: center
}
#playBoard {
	position: relative;
	/* top: 0; */
	/* left: 20%; */
    /* margin: 0 auto; */
	max-width: 250px;
	max-height: 300px;
	/* min-width: 10%;
	min-height: 50%; */
}
#winBoard {
	position: relative;
	top: 10%;
	/* left: 58.5%;  */
	max-width: 125px;
	max-height: 150px;
	/* min-width: 5%;
	min-height: 25%; */
}

.game-buttons-container {
	position: absolute;
    /* margin: auto; */
	/* bottom: 30px;  */
    top: 38em;
    height: 5em;
    width: 8em;
    /* outline: dashed 1px black; */
    /* display: flex; */

}
.save {
	position: relative;
    width: 6em;
    height: 3em;
    left: 2em;
    top: 0.5em;
    color: rgb(37, 192, 50);
    background-color: #a2ff73;
    transition-duration: 0.4s;
}
.redo .undo{
	/* position: relative; */
    top: 1em;
}
.btn-menu {
	border-radius: 4px;
	width: 4em;
	border: solid 1px #236a3f;
	color: black;
	background-color: #e7e7e7;
	transition-duration: 0.4s;
}
.btn-menu:hover {
	background-color: #947a7a; /* Green */
	color: rgb(255, 255, 255);
}

.undo:disabled {
    background-color: #969696;
}
.redo:disabled {
    background-color: #969696;
}