.menu {
	width: 20%;
	left: 30px;
}

.step-actions{
    top: 150%;
}
.prev-next{
    position: absolute;
    bottom: 0%
}
.step {
    position: absolute;
    width: 20%;
	top: 100px;
}

input[type='number']{
    width: 30px;
} 