body {
    background-color: #b0cedc;
	margin: auto;
	max-width: 700px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 14px "Century Gothic", Futura, sans-serif;
}

.Header{
    /* border: 1px solid rgb(255, 0, 0); */
    margin-top: 0px;
    padding-top: 0px;
}
.Footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    text-align: center;
    align-self: flex-end; 
}

.Content {
    margin-top: 10px;
}

.login-status {
	margin-top: 10px;
	right: 10px;
	top: 10px;
	text-align: right;
}

.status {
	margin-bottom: 10px;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}
