#playBoard {
	position: relative;
	/* top: 0; */
	/* left: 20%; */
    /* margin: 0 auto; */
	max-width: 64%;
	min-height: 100px;
	max-height: 300px;
	/* min-width: 10%;
	min-height: 50%; */
}

#winBoard {
	position: relative;
	top: 10%;
	max-width: 32%;
	max-height: 150px;
}

.btn-menu {
	border-radius: 4px;
	width: 4em;
	border: solid 1px #236a3f;
	color: black;
	background-color: #e7e7e7;
	transition-duration: 0.4s;
}
.btn-menu:hover {
	background-color: #23b25c; /* Green */
	color: rgb(255, 255, 255);
}

.up-down-control{
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.updown-name{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.updown-value{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
    width: 3em;
}
